.navs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #BEAFC2;
  padding: 2rem;
  top: 0;
  @media (min-width: 700px) {
    display: none;
  }
}

.links {
  display: flex;
  gap: 3rem;
  font-size: large;
}
h1{
  color:#574480 ;
}