.navs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-color: #beafc2;
  /* background-color: #EDD1B9; */
opacity: .3;

  padding: .5rem;
  top: 0;

  @media (min-width: 700px) {
    display: none;
  }
}

.links {
  display: flex;
  gap: 2rem;
  font-size: large;
}
h1 {
  color: #574480;
}
