.navs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #beafc2;

  opacity: .5;
  padding: 1.5rem;
  top: 0;

  @media (min-width: 700px) {
    display: none;
  }
}

.links {
  display: flex;
  gap: 2rem;
  font-size: large;
}
h1 {
  color: #574480;
}
