.footers {
  background-color: #beafc2;
  text-align: center;
  padding: 2rem;
  position: fixed;
  width: 100%;
  /* left: 0; */
  bottom: 0;
  @media (min-width: 700px) {
    display: none;
  }
}
h4 {
  color: #574480;
}
