.detail{
    justify-content: center;
    width: 50vw;
    height: 40vh;
    border: 1rem ;
    margin: 2rem;
    padding: 5rem;
    margin: 2rem 0;
    /* border-radius: 5%;
    box-shadow: 5px 5px 15px 5px black; */
}

.artiImage img {
    width: 10vw;
    height: 15vh;
    border-radius: 50%;
}
