.App{
    background-image: url('./images/classical\ Music\ Concert\ \(Card\ \(Landscape\)\).png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}